# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Docker
*.tar

# Logs
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
*.pyc

# Terraform outputs
infra/terraform/container-host.json
infra/terraform/deployment.env
